.button-container{


    button{
        width: 172px;
        height: 62px;
        border-radius: 50px;
        border: none;
        background-color: rgba(140, 161, 65, 1);
        color: white;

        font-family: 'rosemary', sans-serif;
        font-size: 20px;
        font-weight: 400;
    }
}