.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 30px 54px 0 170px;
	font-family: "rosemary";
	color: var(--highlight-primary);

	position: relative;
	// z-index: 2;

	.cloud1 {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}

	.logo {
		z-index: 2;
	}
	.navbar {
		z-index: 2;
		margin-left: auto;
		margin-right: 46px;

		display: flex;
		align-items: center;
		gap: 62px;

		font-size: 16px;
		p {
			&:first-child {
				padding: 4px 22px;
				border-radius: 20px;
				background-color: var(--highlight-primary);
				color: white;
			}
		}
	}
	.lan {
		font-size: 12px;
		z-index: 2;
	}
}
