@import url("./variable.scss");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body {
}

h1 {
	font-family: "little daisy", system-ui;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 6%;
	line-height: 50px;
}
h2 {
}
h3 {
	font-family: "rosemary", sans-serif;
	font-size: 20px;
	font-weight: 400;
}
h4 {
	font-family: "rosemary", sans-serif;
	font-size: 16px;
	font-weight: 400;
}
p {
	font-family: "rosemary" , sans-serif;
	font-size: 16px;
	line-height: 22px;
}

.toggle-button{
	scale: .4;
}

/* --------------scrollbar styling----------------- */
::-webkit-scrollbar {
	width:5px;
	height: 5px;
  }
  ::-webkit-scrollbar-thumb {
	background-color: #75AEBB;
	border-radius: 10px;
  } 
  /* ::-webkit-scrollbar-track {
	background-color: rgb(211, 182, 146);
  } */